.drum-machine {
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(47, 41, 45);
}

.pads {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
}

.drum-pad {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: rgb(222, 201, 205);

    h2 {
        margin: auto;
    }
}
